.slick-slider {
  display: block !important;
}

.slick-list {
  overflow: hidden;
  position: relative;
}

.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.slick-slide img {
  display: block;
  width: 100%;
  height: auto;
}
